Repository yeogiya/yeogiya-frontend, pull requests merged in 2023-11, with the labels that each got.

#52 style: 💄 지도 페이지 UI(PP-125)
  .husky/commit-msg
  package.json
  src/App.tsx
  src/assets/CloseIcon.tsx
  src/assets/GoogleLogo.tsx
  src/assets/KakaoLogo.tsx
  src/assets/LocationIcon.tsx
  src/assets/MapSearchIcon.tsx
  src/assets/YeogiyaLogo.tsx
  src/components/@common/Map.tsx
  src/components/@common/Menu.tsx
  src/components/@common/Navbar.tsx
  src/components/MapHeader.tsx
  src/features/hooks/useModal.ts
  src/index.tsx
  src/pages/MapPage.tsx
  src/styles/GlobalStyle.tsx
  src/styles/theme.ts
  src/utils/Router.tsx
  src/utils/routes.ts
  tsconfig.json
Labels: style 💄

#54 feat: ⚡️♻️ 회원가입 API 연동 & directory 구조 변경(PP-8)
  package.json
  pnpm-lock.yaml
  src/apis/fetchApi.tsx
  src/apis/user.ts
  src/components/@common/InputUser.tsx
  src/components/@common/Layout.tsx
  src/components/CheckButton.tsx
  src/features/hooks/useJoinForm.ts
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/JoinPage.tsx
  src/pages/diary/list/DiaryListPage.tsx
  src/pages/diary/map/MapPage.tsx
  src/pages/find/id/FindIdPage.tsx
  src/pages/find/pw/FindPwPage.tsx
  src/pages/join/JoinPage.tsx
  src/pages/join/components/InputEmail.tsx
  src/pages/join/components/InputId.tsx
  src/pages/join/components/InputNickname.tsx
  src/pages/join/components/InputPassword.tsx
  src/pages/login/LoginPage.tsx
  src/pages/reset/ResetPwPage.tsx
  src/utils/Router.tsx
  src/utils/menus.ts
  src/utils/routes.ts
Labels: feat ✨, refac ♻️

#55 style: 💄 메인 페이지 UI(PP-69)
  index.html
  src/assets/images/CheckIcon.tsx
  src/assets/images/CloseIcon.tsx
  src/assets/images/ConcealIcon.tsx
  src/assets/images/DiaryImage.tsx
  src/assets/images/GoogleLogo.tsx
  src/assets/images/KakaoLogo.tsx
  src/assets/images/KoFirstIcon.tsx
  src/assets/images/KoSecondIcon.tsx
  src/assets/images/KoThirdIcon.tsx
  src/assets/images/KoYeogiyaLogo.tsx
  src/assets/images/LocationIcon.tsx
  src/assets/images/MapSearchIcon.tsx
  src/assets/images/PlaceImage.tsx
  src/assets/images/PlusIcon.tsx
  src/assets/images/SearchIcon.tsx
  src/assets/images/SearchImage.tsx
  src/assets/images/YeogiyaLogo.tsx
  src/assets/index.ts
  src/components/@common/ContentHeading.tsx
  src/components/@common/ContentLayout.tsx
  src/components/@common/Layout.tsx
  src/components/@common/LinkText.tsx
  src/components/@common/Navbar.tsx
  src/components/MapHeader.tsx
  src/components/SearchBar.tsx
  src/pages/LandingPage.tsx
  src/pages/diary/list/DiaryListPage.tsx
  src/pages/home/LandingPage.tsx
  src/pages/home/components/ContentDiary.tsx
  src/pages/home/components/ContentHeader.tsx
  src/pages/home/components/ContentPlace.tsx
  src/pages/home/components/ContentSearch.tsx
  src/pages/join/components/InputPassword.tsx
  src/pages/login/LoginPage.tsx
  src/pages/reset/ResetPwPage.tsx
  src/stories/components/@common/IconButton.stories.tsx
  src/stories/components/@common/Input.stories.tsx
  src/styles/theme.ts
  src/utils/Router.tsx
  tsconfig.json
Labels: style 💄

#56 feat: ⚡️♻️ 아이디찾기 페이지 API 연동 & refactoring(PP-48)
  src/apis/user.ts
  src/features/hooks/useFindIdForm.ts
  src/features/hooks/useJoinForm.ts
  src/index.tsx
  src/pages/find/id/FindIdPage.tsx
  src/pages/find/id/components/InputEmail.tsx
Labels: feat ✨

#58 style: 💄 navbar UI(PP-154)
  src/assets/images/SearchIcon.tsx
  src/assets/images/YeogiyaLogo.tsx
  src/assets/index.ts
  src/components/@common/LinkText.tsx
  src/components/@common/Menu.tsx
  src/components/@common/Navbar.tsx
  src/pages/search/SearchPage.tsx
  src/utils/Router.tsx
  src/utils/menus.ts
  src/utils/routes.ts
Labels: style 💄

#61 docs: 📚 REAMDE 작성(PP-161)
  README.md
Labels: docs 📚
